<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>404918018084-86e4hpgqjggrq73tr5t3rnc23uqbric5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.404918018084-86e4hpgqjggrq73tr5t3rnc23uqbric5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>404918018084-ukppfqaoaqbakk5te57ms6j8ike9r6t6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCpb_4z0yaIfBIYXa-odeMNxEXvg6GVzEE</string>
	<key>GCM_SENDER_ID</key>
	<string>404918018084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.freedomtransportdriver.vr</string>
	<key>PROJECT_ID</key>
	<string>freedom-transport-4db68vr</string>
	<key>STORAGE_BUCKET</key>
	<string>freedom-transport-4db68vr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:404918018084:ios:67eb6d28b26a694065b8b1</string>
	<key>DATABASE_URL</key>
	<string>https://freedom-transport-4db68vr-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>